@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>垂直居中和清除浮动1</h1>
</div>
<div style="visibility:hidden;">
    <h1>垂直居中和清除浮动2</h1>
</div>
<div>
    <h1>垂直居中和清除浮动3</h1>
</div>
<input type="button" value="测试" id="xxx_id">

<script type="text/javascript">
    $("#xxx_id").click(function () {
        var a1 = 10;
        var a2 = 20;
        alert("a1+a2=" + a1 + a2);
    });
</script>
